{% extends 'login_base.html' %}

{% block title %}注册{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-register' action="/register/" method="post" id="myform2">

                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}

                {% csrf_token %}

                <h2 class="text-center">欢迎注册</h2>
                <div class="form-group">
                    {{ register_form.username.label_tag }}
                    {{ register_form.username }}
                </div>
                <div class="form-group">
                    {{ register_form.nickname.label_tag }}
                    {{ register_form.nickname }}
                </div>
                <div class="form-group">
                    {{ register_form.password1.label_tag }}
                    {{ register_form.password1 }}
                </div>
                <div class="form-group">
                    {{ register_form.password2.label_tag }}
                    {{ register_form.password2 }}
                </div>
                <div class="form-group">
                    {{ register_form.email.label_tag }}
                    {{ register_form.email }}
                </div>
                <div class="form-group">
                    {{ register_form.captcha.errors }}
                    {{ register_form.captcha.label_tag }}
                    {{ register_form.captcha }}
                </div>

                <button onclick="re2()" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right">提交</button>

            </form>
        </div>
    </div>
    {#    <!-- /container -->#}
    <style>
        .captcha {
            width: 82px;
            height: 36px;
            cursor: pointer;
        }

        #id_captcha_1 {
            width: 160px;
        }
    </style>
    <script>
        function codes() {
            url = '/captcha/refresh?' + Math.random()
            $.get(url, function (result) {
                console.log(result.image_url)
                $('img[class="captcha"]').attr('src', result.image_url)
                $('#id_captcha_0').attr('value', result.key)

            })
        }

        $('img[class="captcha"]').mousedown(function () {
            console.log('备点了')
            codes()
        })
    </script>
    <script >
        function re2() {
            $("#myform2").find('input[type=text],input[type=password],input[type=email],select,input[type=hidden]').each(function() {
        $(this).val('');
     });
}
    </script>
{% endblock %}

