{% extends 'login_base.html' %}
{% load static %}
{% block title %}登录{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-login' action="/login/" method="post" id="myform">

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              {% csrf_token %}
              <h2 class="text-center">欢迎登录</h2>
              <div class="form-group">
                  {{ login_form.username.label_tag }}
                  {{ login_form.username}}
              </div>
              <div class="form-group">
                  {{ login_form.password.label_tag }}
                  {{ login_form.password }}
              </div>

              <div class="form-group">
                  {{ login_form.captcha.errors }}
                  {{ login_form.captcha.label_tag }}
                  {{ login_form.captcha }}
              </div>

              <button onclick="re()" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>

          </form>
        </div>
    </div> <!-- /container -->
    <style>
    .captcha{
        width: 82px;
        height: 36px;
        cursor: pointer;
    }
    #id_captcha_1{
        width: 160px;
    }
    </style>
    <script>
        function codes() {
            url = '/captcha/refresh?' + Math.random()
            $.get(url, function (result) {
                console.log(result.image_url)
                $('img[class="captcha"]').attr('src', result.image_url)
                $('#id_captcha_0').attr('value', result.key)

            })
        }

        $('img[class="captcha"]').mousedown(function () {
            console.log('备点了')
            codes()
        })
    </script>

    <script >
        function re() {
            $("#myform").find('input[type=text],input[type=password],select,input[type=hidden]').each(function() {
        $(this).val('');
     });
}
    </script>




{% endblock %}
